body {
  background-color: salmon;
}

header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a {
  padding: 0 3em;
}

a:first-child {
  font-family: 'Audiowide', cursive;
}

a:nth-child(2) {
   font-family: 'Jura', sans-serif;
}

a:nth-child(3) {
   font-family: 'Racing Sans One', cursive;
}

a:nth-child(4) {
  font-family: 'Press Start 2P', cursive;
}

div, section {
  background-color: goldenrod;  
}

div {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 3em auto;
}

section {
 width: 300px;
 height: 300px;
 border: 2px solid black;
 margin: 0 auto;
}

p {
  box-shadow: 3px 3px darkGray,
  -1em 0 .4em lightslategray;
}

footer {
  font-size: 2em;
  text-align: center;
}