body {
  background-color: goldenrod;
}

canvas {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-family: 'Audiowide', cursive;
}

h2 {
  font-family: 'Jura',
  sans-serif;
}

h3 {
   font-family: 'Racing Sans One',
    cursive;
}

h4 {
  font-family: 'Press Start 2P', cursive;
}