body {
  background-color: goldenrod;
}

canvas {
  display: block;
  margin: 0 auto;
}

header ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

li {
  padding: 0 3em;
}

li:first-child {
  font-family: 'Audiowide', cursive;
}

li:nth-child(2) {
   font-family: 'Jura', sans-serif;
}

li:nth-child(3) {
   font-family: 'Racing Sans One', cursive;
}

li:nth-child(4) {
  font-family: 'Press Start 2P', cursive;
}

div {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin: 3em auto;
}

section {
 width: 300px;
 height: 300px;
 border: 2px solid black;
 margin: 0 auto;
}
